/* 1) Global variables */
/* 2) Header */
/*  */
/* */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');



body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

.content { margin: 100px 0; }


.header-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}


.header-strong{ 
  font-weight: 600 !important; 
  color: hsl(234, 12%, 34%);
}

.header-light{ font-weight: 200 !important}

.longer { 
  color:hsl(229, 6%, 66%);
  font-size: 14px;
}

.card-container{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1230px;
  margin: 0 auto;
}

div > img{ float: right }

.cyan-card {
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  height: 250px; 
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: hsl(0, 0%, 98%);
  margin: 15px;
}

.red-card{
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  height: 250px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: hsl(0, 0%, 98%);
  margin: 15px;

}

.gold-card{
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  height: 250px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: hsl(0, 0%, 98%);
  margin: 15px;

}

.darker-blue-card{
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  height: 250px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: hsl(0, 0%, 98%);
  margin: -80px 10px;

}

footer{ text-align: center;}